In [3]:
myAge=32
print(myAge)

32

In [4]:
print(myAge/3)

10.666666666666666

In [5]:
myAge=33

In [6]:
print(myAge)

33

In [7]:
myAge=myAge+1
print(myAge)

34

In [8]:
restaurantBill=36.17
serviceCharge=0.125
print(restaurantBill*serviceCharge)

4.52125

In [9]:
type(myAge)

int

In [10]:
primeNumbers=[2,3,5,9,11]
type(primeNumbers)

list

In [12]:
primeNumbers[3]

9

In [13]:
primeNumbers=['King charles', 2,'Queen Elizabeth']

In [14]:
primeNumbers[0]

'King charles'

In [ ]:
#the list can contain any datatype
#the array can only contain same datatype

In [18]:
import pandas as pd
data=pd.read_csv('lsd_math_score_data.csv')
print(data)
#make sure you upload csv in same folder

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [19]:
type(data)

pandas.core.frame.DataFrame

In [20]:
data['Avg_Math_Test_Score']

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [21]:
data['Test_Subject']='Jennifer Lopez'

In [22]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [25]:
data['High_Score']=100
data['Test_Subject']=data['High_Score']+data['Avg_Math_Test_Score']

In [24]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Test_Subject  \
0                      5     1.17                78.93           101
1                     15     2.97                58.20           101
2                     30     3.26                67.47           101
3                     60     4.69                37.47           101
4                    120     5.83                45.65           101
5                    240     6.00                32.92           101
6                    480     6.41                29.97           101

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [26]:
data['High_Score']=data['High_Score']*data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Test_Subject  \
0                      5     1.17                78.93        178.93
1                     15     2.97                58.20        158.20
2                     30     3.26                67.47        167.47
3                     60     4.69                37.47        137.47
4                    120     5.83                45.65        145.65
5                    240     6.00                32.92        132.92
6                    480     6.41                29.97        129.97

   High_Score
0       10000
1       10000
2       10000
3       10000
4       10000
5       10000
6       10000

In [28]:
type(data['High_Score'])
#series has one column just like on excel

pandas.core.series.Series

In [39]:
columnList=['High_Score', 'Avg_Math_Test_Score']

In [40]:
type(columnList)

list

In [41]:
cleanData=data[columnList]

In [42]:
y=data[['Avg_Math_Test_Score']]

In [43]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93       10000
1                     15     2.97                58.20       10000
2                     30     3.26                67.47       10000
3                     60     4.69                37.47       10000
4                    120     5.83                45.65       10000
5                    240     6.00                32.92       10000
6                    480     6.41                29.97       10000